/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap'); */

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100%;
}

body {
	background: #000 url('./assets/background.jpg') no-repeat;
	background-size: cover;
	-webkit-font-smoothing: antialiased !important;
}
